*.o              
*.out            
*.exe            
*.a              
*.so             
*.dll            
*.log            

/build/
/bin/
/obj/
/dist/

.vscode/
*.swp            
*.swo

Dockerfile
docker-compose.yml

!*.cpp           
!*.h            
!README.md       
!*.txt           
!*.md            
!*.png           
!*.jpg
!*.jpeg
